In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [10]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)
ser3.reindex(ranger)

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [12]:
ser3.reindex(ranger, method="ffill")

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],columns = 
                  ['col1','col2','col3','col4','col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A -1.381593 -1.022455  1.248306 -0.721210 -0.046519
B  0.372192  1.041463  0.227352  0.602078  0.050704
D  0.926781 -0.263964 -0.296875 -0.034170  0.885094
E  1.093343  0.669463 -0.686779 -1.690898 -0.720910
F -1.614497  1.185418  0.223180  1.035620  0.238194

In [21]:
dframe2 = dframe.reindex(['A','B','C','D','E'])

In [22]:
dframe2

       col1      col2      col3      col4      col5
A -1.381593 -1.022455  1.248306 -0.721210 -0.046519
B  0.372192  1.041463  0.227352  0.602078  0.050704
C       NaN       NaN       NaN       NaN       NaN
D  0.926781 -0.263964 -0.296875 -0.034170  0.885094
E  1.093343  0.669463 -0.686779 -1.690898 -0.720910

In [26]:
new_columns = ['col1','col2','col3','col4','col5','col5','col6']

In [27]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5      col5  col6
A -1.381593 -1.022455  1.248306 -0.721210 -0.046519 -0.046519   NaN
B  0.372192  1.041463  0.227352  0.602078  0.050704  0.050704   NaN
C       NaN       NaN       NaN       NaN       NaN       NaN   NaN
D  0.926781 -0.263964 -0.296875 -0.034170  0.885094  0.885094   NaN
E  1.093343  0.669463 -0.686779 -1.690898 -0.720910 -0.720910   NaN

In [28]:
dframe

       col1      col2      col3      col4      col5
A -1.381593 -1.022455  1.248306 -0.721210 -0.046519
B  0.372192  1.041463  0.227352  0.602078  0.050704
D  0.926781 -0.263964 -0.296875 -0.034170  0.885094
E  1.093343  0.669463 -0.686779 -1.690898 -0.720910
F -1.614497  1.185418  0.223180  1.035620  0.238194

In [29]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5      col5  col6
A -1.381593 -1.022455  1.248306 -0.721210 -0.046519 -0.046519   NaN
B  0.372192  1.041463  0.227352  0.602078  0.050704  0.050704   NaN
C       NaN       NaN       NaN       NaN       NaN       NaN   NaN
D  0.926781 -0.263964 -0.296875 -0.034170  0.885094  0.885094   NaN
E  1.093343  0.669463 -0.686779 -1.690898 -0.720910 -0.720910   NaN
F -1.614497  1.185418  0.223180  1.035620  0.238194  0.238194   NaN