In [4]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [8]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [9]:
nfl_frame = pd.read_clipboard()

In [10]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [12]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Rank, dtype: int64

In [16]:
nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1960
5    1950
6     NaN
Name: First NFL Season, dtype: float64

In [20]:
DataFrame(nfl_frame, columns = ['Team','First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0         Chicago Bears              1920       1,338
1        Dallas Cowboys              1960         850
2     Green Bay Packers              1921       1,304
3        Miami Dolphins              1966         768
4  New England Patriots              1960         852
5   San Francisco 49ers              1950         970
6      Baltimore Ravens               NaN         NaN

In [21]:
DataFrame(nfl_frame, columns = ['Team','First NFL Season','Total Games','Statium'])

                   Team  First NFL Season Total Games  Statium
0         Chicago Bears              1920       1,338      NaN
1        Dallas Cowboys              1960         850      NaN
2     Green Bay Packers              1921       1,304      NaN
3        Miami Dolphins              1966         768      NaN
4  New England Patriots              1960         852      NaN
5   San Francisco 49ers              1950         970      NaN
6      Baltimore Ravens               NaN         NaN      NaN

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
nfl_frame.head(4)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East

In [29]:
nfl_frame.ix[4]

Rank                                   5
Team                New England Patriots
Won                                  462
Lost                                 381
Tied                                   9
Pct.                               0.548
First NFL Season                    1960
Total Games                          852
Division                        AFC East
Name: 4, dtype: object

In [31]:
nfl_frame['Stadium'] = "Levi's Stadium"
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,Levi's Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,Levi's Stadium
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,Levi's Stadium
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,Levi's Stadium
6,7,Baltimore Ravens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Levi's Stadium

In [32]:
nfl_frame['Stadium'] = np.arange(7)

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,5
6,7,Baltimore Ravens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [34]:
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [37]:
stadium = Series(["Levi's Stadium", "AT&T Stadium"],index = [4,0])

In [38]:
stadium

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [48]:
nfl_frame['Stadium'] = stadium
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,Levi's Stadium
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West,NaN
6,7,Baltimore Ravens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
del nfl_frame['Stadium']

In [50]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East
5,6,San Francisco 49ers,520,436,14,0.543,1950,970,NFC West
6,7,Baltimore Ravens,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000